.title {
  font-weight: 700;
  font-size: 26px;
  padding: 0 12px;
}

.subtitle {
  font-weight: 400;
  font-size: 22px;
  padding: 0 12px;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

p {
  padding: 8px 16px;
  margin: 0;
}

.light {
  color: #505050;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.section {
  max-width: 1032px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.rounded-template {
  position: inherit;
  display: inherit;
  background: #e7e7e7;
  padding: 40px;
  border-radius: 30px;
}

.white-bg {
  background: #ffffff;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.nav {
  display: flex;
  flex-direction: row;
  max-width: 1032px;
  margin: 8px auto;
}

.shadow {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.05);
}

.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 800px;
}

input {
  position: relative;
  display: block;
  width: 96%;
  padding: 16px;
  margin: 0 16px;
  border: none;
}

input:focus {
  outline: none;
}

.hover-highlight:hover {
  cursor: pointer;
  background: #ebebeb;
}

.has-padding-16 {
  padding: 0 20px;
}

.has-padding-8 {
  padding-top: 8px;
  padding-bottom: 0;
  margin-bottom: 4px;
}

.hidden {
  visibility: hidden;
}

.classroom-background {
  background: url(./assets/fesb1.jpg) no-repeat center center fixed;
}

.max-width-800 {
  max-width: 800px;
}

.auto-top {
  margin: auto;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.dropdown {
  display: block;
  position: absolute;
  z-index: 199;
  left: 0;
  right: 0;
  top: 120px;
  background: white;
}

.full-width {
  display: block;
  width: 100%;
}

.navbar-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.has-margin-top-24px {
  margin-top: 60px;
}

.has-padding-24px {
  margin: 32px 8px;
  padding: 20px;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex;
  flex-direction: column;
}
ol li {
  display: inline-block;
  counter-increment: my-awesome-counter;
  padding: 10px 4px;
  font-size: 1.2rem;
}
ol li::before {
  content: counter(my-awesome-counter);
  font-weight: bold;
  font-size: 2rem;
  background-color: rgb(221, 221, 221);
  width: 2rem * 1.5;
  height: 2rem * 1.5;
  border-radius: 50%;
  display: inline-block;
  font-size: 2rem * 0.75;
  line-height: 2rem * 1.5;
  text-align: center;
  margin-right: 0.5rem * 0.5;
  position: relative;
  top: -2px;
}

.green-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #00d1b2;
  border-radius: 50%;
  margin: 0 1rem;
}

.red-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #ff6347;
  border-radius: 50%;
  margin: 0 1rem;
}

.max-size-400 {
  max-width: 800px;
}

.margin-20 {
  margin-top: 16px;
  margin-left: 12px;
}

.card {
  &.is-horizontal {
    display: flex;
    
    .card-image {
      width: 100%;
      height: 100%;
    }
    
    .card-stacked {
      flex-direction: column;
      flex: 1 1 auto;
      display: flex;
      position: relative;
      
      .card-content {
        flex-grow: 1;
      }
    }
  }
}
